In [5]:
import pandas
import json

In [6]:
full_list = pandas.read_csv('cat_full_list.csv')
#full_list = full_list.drop('SetRun', axis=1)
full_list.head()

     root shuffled  id                  valid_words  length   Set
0    have     veah   1                     ['have']       4  SetA
1   about    utabo   2                    ['about']       5  SetA
2  people   eplepo   3                   ['people']       6  SetA
3    will     wlli   4                     ['will']       4  SetA
4   there    hrete   5  ['ether', 'there', 'three']       5  SetA

In [7]:
target_sets = full_list['Set'].unique()
nlists = 4
rand_full_list = None 

for target_set in target_sets:
    for list_num in range(1, nlists+1):
        set_list_name = f'{target_set}{list_num}'
        target_list = full_list[full_list['Set'] == target_set]
        # randoly shuffle order of target list
        target_list = target_list.sample(frac=1).reset_index(drop=True)
        target_list['SetRun'] = set_list_name
        if rand_full_list is None:
            rand_full_list = target_list
        else:
            rand_full_list = pandas.concat([rand_full_list, target_list])


def format_js_stimuli(df):
    js_stimuli = []
    for idx, row in df.iterrows():
        js_entry = {
                "id": str(row['id']),
                "type": str(row['length']),
                "anagram": row['shuffled'],
                "correct": row['root'],
                "valid": row['valid_words'],
                "set": row['Set'],
                "setRun": row['SetRun'],
            }
        js_stimuli.append(js_entry) 
    return js_stimuli

rand_full_list_json = format_js_stimuli(rand_full_list)
print(len(rand_full_list_json))
print(rand_full_list_json[0])

with open('rand_full_list.json', 'w') as f:
    json.dump(rand_full_list_json, f, indent=4)

with open('rand_full_list.json', 'r') as f:
    rand_full_list_json_lines = f.readlines()

first_line = "let trial_objects = [\n" 
last_line = "];"
rand_full_list_json_lines[0] = first_line
rand_full_list_json_lines[-1] = last_line


with open('stimuli.js', 'w') as f:
    f.writelines(rand_full_list_json_lines)

2400
{'id': '131', 'type': '5', 'anagram': 'rtsoy', 'correct': 'story', 'valid': "['story']", 'set': 'SetA', 'setRun': 'SetA1'}